html,
body {
  height: 100%;
}

body {
  min-width: $mobile_min;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Lato", "Arial", sans-serif;
  word-wrap: normal;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
